# OSX
.DS_Store
._*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
.xcworkspace/
.swiftpm/
*.xcspm
xcshareddata/
.xcodeproj/project.xcworkspace/

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
captures/
*.cxxbuild/

# Node.js
node_modules/
npm-debug.log
pnpm-debug.log
yarn-error.log
dist/
.env
.eslintcache
*.log

# React Native & Metro
.expo/
.expo-shared/
ios/Pods/
android/.cxx/
.metro-health-check*
.babelrc.js

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
vendor/bundle/

# Testing & Coverage
/coverage/
junit.xml
.nyc_output/

# Yarn & npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp/
.pnp.js
